<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>  
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/pageCreate">Create User</a>
        <a href="/upload">Upload File</a>
        <a href="#about">About</a>
      </div>
      <h1 style="margin: 20px 20px;">List User:</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Email</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
       
            <% for(var i =0 ;i <dataUsers.length ;i++) {%>
                <tr>
                <td><%=dataUsers[i].id %></td>
                <td><%=dataUsers[i].lastName %></td>
                <td><%=dataUsers[i].firstName %></td>
                <td><%=dataUsers[i].email %></td>
                <td><%=dataUsers[i].address %></td>
                <td style="margin: 0 auto;">
                    <div class="action">
                        <!-- <div class="action1">
                            <a href="/detail/user/<%=dataUsers[i].id %>">Detail</button>
                        </div> -->
                        <div class="action1">
                            <form action="/delete-user" method="POST">
                                <input type="text" name="userId" hidden value="<%=dataUsers[i].id %>">
                                <button>Remove</button>
                            </form>
                        </div>
                        <div class="action1">
                            <form action="/edit-user/<%=dataUsers[i].id %>" method="get">
                                <button type="submit">Edit</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <%}%>
  
      </table>
</body>
</html>